<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    {% if not isBlocked %}
        <ul class="mainMenu">
          <li><a href="new">New</a></li>
          <li><a href="active">Active</a></li>
          <li class="active"><a href="revoked">Revoked</a></li>
          <li><a href="documentation">Documentation</a></li>
        </ul>
    {% endif %}

    {% if isBlocked %}

        {% include 'blocked.twig' %}

    {% else %} 
        <h2>Revoked</h2>
            <p>
                This page lists your revoked VPN configurations for archival purposes. You can revoke configurations <a href="active">here</a>.
            </p>

            {% if vpnConfigurations is empty %}

                <p class="plain">
                    You currently have no revoked configurations.
                </p>                    
        
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created ({{ date()|date('T') }})</th>
                            <th>Revoked ({{ date()|date('T') }})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config in vpnConfigurations %}
                            <tr>
                                <td>{{ config.name|e }}</td>
                                <td>{{ config.created_at|e|date('Y-m-d H:i:s') }}</td>
                                <td>{{ config.revoked_at|e|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
    {% endif %} 

    {% include 'footer.twig' %}
</body>
</html>
