{% set activeItem = 'certificates' %}
{% extends "base.twig" %}
{% block content %}
    {% if userCertificateList is empty %}
        <p class="plain">
            {% trans %}
                There are currently no issued certificates. <a href="new">Download</a> a new configuration.
            {% endtrans %}
        </p>                    
    {% else %}
        <table>
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Issued" %} ({{ date()|date('T') }})</th><th>{% trans "Expires" %} ({{ date()|date('T') }})</th><th></th></tr> 
            </thead>
            <tbody>
            {% for userCertificate in userCertificateList %}
                <tr>
                    <td>{{ userCertificate.display_name }}</td>
                    <td>{{ userCertificate.valid_from|date('Y-m-d H:i:s') }}</td>
                    <td>{{ userCertificate.valid_to|date('Y-m-d H:i:s') }}</td>
                    <td class="text-right">
                        <form method="post" class="inline" action="deleteCertificate">
                            <input type="hidden" name="commonName" value="{{ userCertificate.common_name }}">
                            <button type="submit" class="error">{% trans "Delete" %}</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
