<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <dl>
        <dt>{% trans "User ID" %}</dt>
        <dd><code>{{ userId|e }}</code></dd>

        {% if showTwoFactor %}
        <dt>{% trans "Two-factor Authentication" %}</dt>
        <dd>
            {% if otpEnabled %}
                {% trans "Enrolled" %}
            {% else %}
                <a href="otp">{% trans "Enroll" %}</a>
            {% endif %}
        </dd>
        {% endif %}

        {% if userGroups is not empty %}
            <dt>{% trans "Group Membership(s)" %}</dt>
            <dd>
                <ul class="simple">
                    {% for group in userGroups %}
                        <li title="{{ group.id|e }}">{{ group.displayName|e }}</li>
                    {% endfor %}
                </ul>
            </dd>
        {% endif %}
    </dl>

    {% if userTokens is not empty %}

    <dl>
        <dt>{% trans "Applications" %}</dt>
        <dd>

        <table>
            <thead>
                <tr><th>{% trans "Application" %}</th><th>{% trans "Permissions" %}</th><th></th></tr>
            </thead>
            <tbody>
                {% for token in userTokens %}
                    <tr>
                        <td>{{ token.client_id|e }}</td>
                        <td>{{ token.scope|e }}</td>
                        <td class="text-right">
                            <form method="post" action="deleteTokens">
                                <input type="hidden" name="client_id" value="{{ token.client_id|e }}">
                                <button class="warning" type="submit">{% trans "Revoke" %}</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </dd>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
