<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    {% if not isBlocked %}
        <ul class="mainMenu">
          <li><a href="new">New</a></li>
          <li class="active"><a href="configurations">Configurations</a></li>
          <li><a href="documentation">Documentation</a></li>
        </ul>
    {% endif %}

    {% if isBlocked %}

        {% include 'blocked.twig' %}

    {% else %} 
        <h2>Configurations</h2>
        <p>
            This page lists the status of your configurations. See the <a href="documentation#state">Documentation</a> for more information on the status.
        </p>

        <h3>Active</h3>
            {% if activeVpnConfigurations is empty %}

                <p class="plain">
                    You currently have no active configurations &#x1f61e; You can create a configuration <a href="new">here</a>.
                </p>                    
        
            {% else %}
                <table>
                    <thead>
                        <tr><th>Name</th><th>Created ({{ date()|date('T') }})</th><th>Disabled</th><th></th></tr>
                    </thead>
                    <tbody>
                        {% for config in activeVpnConfigurations %}
                            <tr>
                                <td>{{ config.name|e }}</td>
                                <td>{{config.created_at|e|date('Y-m-d H:i:s') }}</td>
                                <td>{% if config.disabled %}<span class="text-danger">Yes</span>{% else %}<span class="text-success">No</span>{% endif %}</td>
                                <td class="text-right">
                                    <form method="post" action="revoke">
                                        <input type="hidden" name="name" value="{{ config.name|e }}">
                                        <button class="danger" type="submit">Revoke</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        <h3>Revoked</h3>
            {% if revokedVpnConfigurations is empty %}

                <p class="plain">
                    You currently have no revoked configurations.
                </p>                    
        
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Created ({{ date()|date('T') }})</th>
                            <th>Revoked ({{ date()|date('T') }})</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for config in revokedVpnConfigurations %}
                            <tr>
                                <td>{{ config.name|e }}</td>
                                <td>{{ config.created_at|e|date('Y-m-d H:i:s') }}</td>
                                <td>{{ config.revoked_at|e|date('Y-m-d H:i:s') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}


    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
