<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    {% if poolList|length == 0 %}
        <p class="warning">
        {% trans %}
    This account does not have the required permissions to create a new VPN configurations for any of the 
    available profiles.
        {% endtrans %}
        </p>
    {% endif %}

    {% if poolList|length > 0 %}
        <p>
        {% trans %}
        Create a new VPN configuration by choosing a unique name for your configuration, e.g. <em>Phone</em>. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
        {% endtrans %}
        </p>

        {% if errorCode is defined %}
            <p class="error">
            {% if 'otpRequired' == errorCode %}
                {% trans %}
                    You cannot download this configuration, you need to <a href="otp">enroll</a> for two-factor authentication first.
                {% endtrans %}
            {% elseif 'nameAlreadyUsed' == errorCode %}
                {% trans %} 
                    A configuration with the name "{{ configName }}" already exists. Try another name.
                {% endtrans %}
            {% else %}
                {{ errorCode|e }}
            {% endif %}
            </p>
        {% endif %}

        <form method="post">
            <fieldset>
                <label for="poolId">{% trans "Profile" %}</label>
                <select id="poolId" name="poolId">
                    {% for key, pool in poolList %}
                        {% if poolId is defined and key == poolId %}
                            <option value="{{ key|e }}" selected="selected">{{ pool.displayName|e }}</option>
                        {% else %}
                            <option value="{{ key|e }}">{{ pool.displayName|e }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <label for="configName">{% trans "Name" %}</label>
                <input type="text" name="configName" id="configName" maxlength="{{ maxNameLength|e }}" placeholder="{% trans 'Name' %}" autofocus required pattern="[a-zA-Z0-9-_.@]+">
            </fieldset>
            <fieldset>
                <button type="submit">{% trans "Download" %}</button>
            </fieldset>
        </form>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
