<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    {% if motdMessage %}
        <p class="plain">{{ motdMessage.message|nl2br }}</p>
    {% endif %}
       
    {% if profileList|length == 0 %}
        <p class="warning">
        {% trans %}Either there are no VPN profiles defined, or this account does not have the required permissions to create a new VPN configurations for any of the available profiles.{% endtrans %}
        </p>
    {% endif %}

    {% if profileList|length > 0 %}
        <p>
        {% trans %}
            Create a new VPN configuration by choosing a profile and a name for your configuration, e.g. <em>Phone</em>.
        {% endtrans %}
        </p>

        {% if errorCode is defined %}
            <p class="warning">
            {% if 'otpRequired' == errorCode %}
                {% trans %}
                    You need to enroll for two-factor authentication on the <a href="account">account</a> page before you can use this profile!
                {% endtrans %}
            {% else %}
                {{ errorCode }}
            {% endif %}
            </p>
        {% endif %}

        <form method="post">
            <fieldset>
                <label for="profileId">{% trans "Profile" %}</label>
                <select id="profileId" name="profileId">
                    {% for key, profile in profileList %}
                        {% if profileId is defined and key == profileId %}
                            <option value="{{ key }}" selected="selected">{{ profile.displayName }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ profile.displayName }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <label for="displayName">{% trans "Name" %}</label>
                <input type="text" name="displayName" id="displayName" size="32" maxlength="64" placeholder="{% trans 'Name' %}" autofocus required>
            </fieldset>
            <fieldset>
                <button type="submit">{% trans "Download" %}</button>
            </fieldset>
        </form>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
