<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li class="active"><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    <h2>{% trans "User Info" %}</h2>
    <table>
        <tr>
            <th>{% trans "ID" %}</th>
            <td><code>{{ userId }}</code></td>
            <td></td>
        </tr>
        <tr>
            <th>{% trans "Group Membership" %}</th>
            <td>
                {% if userGroups is empty %}
                    {% trans "N/A" %}
                {% else %}
                    <ul class="simple">
                        {% for group in userGroups %}
                            <li title="{{ group.id }}">{{ group.displayName }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td></td>
        </tr>
    </table>

    <h2>{% trans "Two-factor Authentication" %}</h2>

    <table>
        <tr>
            <th>{% trans "Status" %}</th>
            <td>
                {% if hasOtpSecret %}
                    <span class="success">{% trans "Enrolled" %}</span>
                {% else %}
                    <span class="warning">{% trans "Not Enrolled" %}</span>
                {% endif %}
            </td>
            <td class="text-right">
                {% if not hasOtpSecret %} 
                    <form method="get" action="otp"><button>Enroll</button></form>
                {% endif %}
            </td>
        </tr>

        <tr>
            <th>{% trans "Profiles" %}</th>
            <td>
                {% if otpEnabledProfiles is empty %}
                    {% trans "N/A" %}
                {% else %}
                    <ul class="simple">
                    {% for otpEnabledProfile in otpEnabledProfiles %}
                        <li>{{ otpEnabledProfile }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td></td>
        </tr>

    </table>            

    <h2>{% trans "Authorized Applications" %}</h2>

    {% if authorizedClients is empty %}
        {% trans "No applications have access to your account." %}
    {% else %}
    <table>
        <thead>
            <tr><th>{% trans "Name" %}</th><th>{% trans "Scope" %}</th><th></th></tr>
        </thead>
        <tbody>
            {% for client in authorizedClients %}
            <tr>
                <td>{{ client.client_id }}</td>
                <td><code>{{ client.scope }}</code></td>
                <td class="text-right">
                    <form method="post" action="removeClientAuthorization">
                        <input type="hidden" name="client_id" value="{{ client.client_id }}">
                        <button class="error">{% trans "Revoke" %}</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
