<!DOCTYPE html>

<html lang="en">
{% include 'head.twig' %}
<body>
    {% include 'header.twig' %}

    <ul class="menu">
      <li class="active"><a href="new">{% trans "New" %}</a></li>
      <li><a href="configurations">{% trans "Configurations" %}</a></li>
      <li><a href="account">{% trans "Account" %}</a></li>
      <li><a href="documentation">{% trans "Documentation" %}</a></li>
    </ul>

    {% if motd %}
        <p class="plain">{{ motd|nl2br }}</p>
    {% endif %}
       
    {% if profileList|length == 0 %}
        <p class="warning">
        {% trans %}Either there are no VPN profiles defined, or this account does not have the required permissions to create a new VPN configurations for any of the available profiles.{% endtrans %}
        </p>
    {% endif %}

    {% if profileList|length > 0 %}
        <p>
        {% trans %}
        Create a new VPN configuration by choosing a unique name for your configuration, e.g. <em>Phone</em>. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>-</code>, <code>_</code>, <code>.</code>, <code>@</code>.
        {% endtrans %}
        </p>

        {% if errorCode is defined %}
            <p class="error">
            {% if 'otpRequired' == errorCode %}
                {% trans %}
                    You cannot download this configuration, you need to <a href="otp">enroll</a> for two-factor authentication first.
                {% endtrans %}
            {% elseif 'nameAlreadyUsed' == errorCode %}
                {% trans %} 
                    A configuration with the name "{{ configName }}" already exists. Try another name.
                {% endtrans %}
            {% else %}
                {{ errorCode }}
            {% endif %}
            </p>
        {% endif %}

        <form method="post">
            <fieldset>
                <label for="profileId">{% trans "Profile" %}</label>
                <select id="profileId" name="profileId">
                    {% for key, profile in profileList %}
                        {% if profileId is defined and key == profileId %}
                            <option value="{{ key }}" selected="selected">{{ profile.displayName }}</option>
                        {% else %}
                            <option value="{{ key }}">{{ profile.displayName }}</option>
                        {% endif %}

                    {% endfor %}
                </select>
                <label for="displayName">{% trans "Name" %}</label>
                <input type="text" name="displayName" id="displayName" maxlength="64" placeholder="{% trans 'Name' %}" autofocus required>
            </fieldset>
            <fieldset>
                <button type="submit">{% trans "Download" %}</button>
            </fieldset>
        </form>
    {% endif %}

    {% include 'footer.twig' %}
</body>
</html>
